@model IdentityRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>UpdateRole</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="admin" asp-controller="home" asp-action="updaterole" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

